.menu{
    display: inline;
    list-style: none;
    margin: auto;
    background-color: #f2f2f2;
    text-align: center;
}
img{
    border: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
li{
    margin: 15px;
    list-style: none;
}
p{
    display: inline-block;
    width: 60%;
}